@media screen and (max-width:1020px) {

  h1 {
    font-size: 30px;
  }

  #about {
    flex-direction: column;
  }

  .profile {
    display: inline-block;
    text-align: center;
  }

  .about__me {
    text-align: center;
  }

  .home__produce__container{
    display: block;
  }

  .home__title__box {
    flex-direction: column;
  }

  .home__slide {
    position: relative;
    width: 120px;
  }

  .home__slide__title {
    position: absolute;
    top: 0;
    left:0;
  }

  .home__title__portfolio {
    margin-top: 0px;
  }
  

}

@media screen and (max-width:768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  #navbar.navbar--dark {
    color: blueviolet;
  }

  .navbar__logo i {
    color: white;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background: #c291ed;
    z-index: 3;
  }

  #navbar.navbar__dark {
    padding: 16px;
  }

  .navbar__menu {
    text-align: center;
    width: 100%;
  }

  .navbar__menu_container {
    flex-direction: column;
    display: none;
  }

  .navbar__menu_container.open {
    display: block;
  }


  .project {
    flex-grow: 1;
  }

  .Nomflix__project {
    flex-direction: column;
  }

  .carrot__project {
    flex-direction: column-reverse;
  }

  .section {
    padding: 16px;
  }

  .study__container button {
    margin-top: 10px;
  }
}

@media screen and (max-width:570px){

  .study:nth-child(1),
  .study:nth-child(3) 
  {
    margin-right: 20px;
  }

  .study img {
    width: 170px;
    height: 120px;
  }

  .study__divide:nth-child(1){
    margin-bottom: 0px;
  }
  
  .skill__title img {
    width: 90px;
    height: 70px;
  }
  
}

@media screen and (max-width:480px) {

  .navbar__toggle-btn {
    position: absolute;
    right: 5px;
  }
  
  h1 {
    font-size: 20px;
  }

  .home__slide {
    width: 80px;
  }

  .home_avatar {
    width: 200px;
    height: 200px;
  }


  .skills__categories span {
    width: 100px;
    height: 40px;
  }

  .skills__categories button {
    font-size: 15px;
  }

  .study__divide:nth-child(2){
    margin-bottom: 0px;
  }

  .study:nth-child(1),
  .study:nth-child(3) 
  {
    margin-right: 10px;
  }

  .study img {
    width: 130px;
    height: 80px;
  }

  .study .study__title {
    display: inline-block;
    font-size: 15px;
  }

  .study__container button {
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (max-width:390px) {

  h1 {
    font-size: 18px;
  }

  .navbar__logo {
    font-size: 20px;
  }

  .home__slide {
    width: 75px;
  }

  .home_avatar {
    width: 150px;
    height: 150px;
  }

  .skills__categories{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills__categories span:nth-child(2){
    margin:10px 0;
  }

  .study__container {
    padding: 20px 30px 100px 30px;
    margin-top: 30px;
  }

  .study__content__wrap .study {
    height: 100px;
  }

  .study__content__wrap .study:nth-child(2) {
    margin-top: 10px;
  }

  .study__divide{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 250px;
  }

  .study:nth-child(1),
  .study:nth-child(3) 
  {
    margin-right: 0px;
  }

  .study__divide:nth-child(1){
    margin-bottom: 0px;
  }
  
  .study .study__title {
    display: block;
    font-size: 10px;
  }

  .study__container button {
    bottom: 25px;
    padding: 10px 17px;
    font-size: 13px;
  }
}

