@media screen and (max-width:1020px) {
  #about {
    flex-direction: column;
  }

  .profile {
    display: inline-block;
    text-align: center;
  }

  .about__me {
    text-align: center;
  }

  .home__produce__container{
    display: block;
  }

  .home__title__box {
    flex-direction: column;
  }

  .home__slide {
    position: relative;
  }

  .home__slide__title {
    position: absolute;
    top: 0;
    left:0;
  }

  .home__title__portfolio {
    margin-top: 50px;
  }
  


}

@media screen and (max-width:768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background: #c291ed;
    z-index: 3;
  }

  #navbar.navbar__dark {
    padding: 16px;
  }

  .navbar__menu {
    text-align: center;
    width: 100%;
  }

  .navbar__menu_container {
    flex-direction: column;
    display: none;
  }

  .navbar__menu_container.open {
    display: block;
  }


  .project {
    flex-grow: 1;
  }

  .section {
    padding: 16px;
  }
}


