/* global */
:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --colror-dark-white: #bdbdbd;
  --color-purple: #c291ed;
  --color-dark-purple: #995ecc;
  --color-grey: #4d4d4d;
  --color-dark-grey: #343837;
  --color--grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;


  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;
}

/* universal tags */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}


/* typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 4px 0px;
}

/* opacity */

.opacity {
  opacity: 0.2;
  transition: all .3s ease-in-out;
  z-index: 2;
}


/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  z-index: 1;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);

}

.navbar__menu_container {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  cursor: pointer;
}


.navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-purple);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-light-white);
  display: none;
}

#navbar.navbar--dark {
  background-color: var(--color-purple);
  padding: 8px;
  height: 60px;
  transition: all .3s ease-in-out;
}

/* #Home */

#main__home {
  position: relative;
  z-index: 1;
}

.home {
  background: url(img/homeBackround.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
  padding: 70px;
  text-align: center;
  margin: auto;
}

.home__container {
  width: 100%;
  height: 100%;
}

.home__produce {
  margin-top: 120px;
  display: inline-flex;
  text-align: center;
}

.home__produce__container{
  display: flex;
  display: inline-flex;
}

.home__slide {
  position: relative;
  width: 162px;
}


.home__slide__title {
  position: absolute;
  top: 0;
  left: -30px;
  z-index: 0;
  opacity: 0;
  transition: all 1.5s;
  transform: scale(0.9);
}


.showing {
  opacity: 1;
  z-index: 1;
  transition: all 3s ease-in-out;
  transform: none;
}

.home__title__name {
  margin-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}

.home__slide i,
.home__title,
.home__description {
  color: var(--color-white);
}

.home__title__portfolio {
  margin-top: 120px;
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-light-white);
  color: var(--color-purple);
  transform: scale(1.1);
  transition: all .5;
}

/* section common */

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

#about {
  display: flex;
  text-align: left;
}

.home_avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
  margin: 0 80px;
}



/* Skill */

#skills {
  background-color: var(--color-yellow);
}

.skills__categories {
  font-size: 20px;
  margin: 20px 0 30px 0;
}
.skills__categories span {
  width: 130px;
  height: 40px;
  display: inline-block;
  background-color: #d09eff;
  border-radius: 5px;
}

.skills__categories span:hover{
  background-color: #a145f7;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.skills__categories span:nth-child(2){
  margin: 0 20px;
}

.skills__categories button{
  font-size: 20px;
  margin: auto;
  line-height: 40px;
  color: #ffffff;
}


.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebebe1;
  padding: 40px 0px;
}

.skills__container.animate{
  transition:all 1s ease-in-out;
}

.skill__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.skill__title.indivisual {
  display:none;
}

.skill__title img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
}


/* div는 안에 컨텐츠가 없기때문에 반드시 width랑 height를 지정해줘야한다 */



/* work */

.work_projects {
  width: 100%;
  height: 100%;
}

.Nomflix__project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.Nomflix__project .project h3 {
  color:#f01636;
}

.nomflix__desc {
  margin-left: 25px;
}

.nomflix__desc h2 {
  color: #f01636;
}

.carrot__project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrot__desc {
  margin-right: 25px;
}

.carrot__desc h2 {
  color: #fa922a;
}


.work_projects {
  opacity: 1;
  transition: all .3s ease-out;
}

.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}


.project.invisible {
  display: none;
}

.project__image {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all .3s ease-in-out;
}

.project:hover .project__description {
  opacity: .8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: var(--colror-dark-white);
}


/* contect */

#contact {
  background-color: var(--color-purple);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-light-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: lemonchiffon;
  transition: all .3s ease-in-out;
}

/* go top */



.go__top {
  opacity: 0;
  background-color: var(--color-light-grey);
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
}

.go__top:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
  background-color: var(--color-grey);
}


.showing__arrow {
  opacity: 1;
  transition: all .3s ease-in-out;
  pointer-events: visible;
}

.go__top i {
  color: #ffef45;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
}

