/* commom */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  margin: 16px 0px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: #000000;
  margin: 8px 0px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  margin: 8px 0px;
}

p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 4px 0px;
}

/* opacity */

.opacity {
  opacity: 0.2;
  transition: all .3s ease-in-out;
  z-index: 2;
}


/* Navbar */

#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 16px;
  z-index: 1;
}

.navbar__logo {
  font-size: 28px;
  font-weight: 600;

}

.navbar__menu_container {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}


.navbar__menu__item:hover {
  border: 1px solid #ffffff;
  background-color: #995ecc;
}

.navbar__menu__item.active {
  border: 1px solid #ffffff;
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #eeeeee;
  display: none;
}

#navbar.navbar--dark {
  background-color: #c291ed;
  padding: 8px;
  height: 60px;
  transition: all .3s ease-in-out;
}

/* #Home */

#main__home {
  position: relative;
  z-index: 1;
}

.home {
  background: url(img/homeBackround.png) center/cover no-repeat;
  width: 100%;
  height: 100%;
  padding: 70px;
  text-align: center;
  margin: auto;
}

.home__container {
  width: 100%;
  height: 100%;
}

.home__produce {
  margin-top: 120px;
  display: inline-flex;
  text-align: center;
}

.home__produce__container{
  display: flex;
  display: inline-flex;
}

.home__slide {
  position: relative;
  width: 162px;
}


.home__slide__title {
  position: absolute;
  top: 0;
  left: -30px;
  z-index: 0;
  opacity: 0;
  transition: all 1.5s;
  transform: scale(0.9);
}


.showing {
  opacity: 1;
  z-index: 1;
  transition: all 3s ease-in-out;
  transform: none;
}

.home__title__name {
  margin-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}

.home__slide i,
.home__title,
.home__description {
  color: #ffffff;
}

.home__title__portfolio {
  margin-top: 120px;
}

.home__contact {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.home__contact:hover {
  background-color: #eeeeee;
  color: #c291ed;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

/* section common */

.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

#about {
  display: flex;
  text-align: left;
}

.home_avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  margin: 0 80px;
}

.about__me p {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}



/* Skill */

#skills {
  background-color: #fff7d1;
}

.skills__categories {
  font-size: 20px;
  margin: 20px 0 30px 0;
}
.skills__categories span {
  width: 130px;
  height: 40px;
  display: inline-block;
  background-color: #d09eff;
  border-radius: 5px;
}

.skills__categories span:hover{
  background-color: #a145f7;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.skills__categories span:nth-child(2){
  margin: 0 20px;
}

.skills__categories button{
  font-size: 20px;
  margin: auto;
  line-height: 40px;
  color: #ffffff;
}


.skills__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebebe1;
  padding: 40px 0px;
}

.skill__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.skill__title.indivisual {
  display:none;
}

.skill__title img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
}


/* div는 안에 컨텐츠가 없기때문에 반드시 width랑 height를 지정해줘야한다 */



/* work */

.work_projects {
  width: 100%;
  height: 100%;
}

.Nomflix__project {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.Nomflix__project .project h3 {
  color:#f01636;
}

.nomflix__desc {
  margin-left: 25px;
}

.nomflix__desc h2 {
  color: #f01636;
}

.carrot__project {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrot__desc {
  margin-right: 25px;
}

.carrot__desc h2 {
  color: #fa922a;
}


.work_projects {
  opacity: 1;
  transition: all .3s ease-out;
}

.work_projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 250px;
  margin: 2px;
  background-color: #eeeeee;
}


.project.invisible {
  display: none;
}

.project__image {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all .3s ease-in-out;
}

.project:hover .project__description {
  opacity: .8;
  transform: translateY(0px);
}

.project__description h3 {
  color: #feb546;
}

.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  width: 50px;
  height: 2px;
  background-color: #bdbdbd;
}

/* how to study */

#how__to__study {
  width: 100%;
  height: 100%;
  background-color:#fff7d1;
}

.study__container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color:#ebebe1;
  padding: 70px 50px;
  margin-top: 50px;
}

.study__content__wrap .study {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.study__divide{
  display: flex;
  justify-content: space-evenly;
}

.study__divide{
  margin-bottom: 50px;
}

.study img {
  width: 200px;
  height: 150px;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

.study img:hover {
  opacity: .7;
  transition: all .5s ease-in-out;
  transform: scale(1.2);
}

.study:hover .study__title  {
  color:#995ecc;
}

.study .study__title {
  color: #4d4d4d;
  font-weight: 600;
}

.study__container button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 13px 20px;
  background-color: #4d4d4d;
  border-radius: 5px;
  color: #ffef45;
  font-weight: 400;
  font-size: 15px;
}

.study__container button:hover {
  background-color: #ffef45;
  color: #4d4d4d;
  transition: all .3s ease-in-out;
}




/* contect */

#contact {
  background-color: #c291ed;
}

.contact__title,
.contact__email,
.contact__rights {
  color: #eeeeee;
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: 48px;
  margin: 24px;
}

.contact__links i:nth-child(1) {
  margin-right: 20px;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: lemonchiffon;
  transition: all .3s ease-in-out;
}

/* go top */



.go__top {
  opacity: 0;
  background-color: #7c7979;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  pointer-events: none;
}

.go__top:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
  background-color: #4d4d4d;
}


.showing__arrow {
  opacity: 1;
  transition: all .3s ease-in-out;
  pointer-events: visible;
}

.go__top i {
  color: #ffef45;
  display: block;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
}

/* 접근성 */

#skip {
  z-index:2;
  position:absolute;
  top:-16px;
  left:0;
  width:100%;
}
#skip li {
  width:100%;
}
#skip li a {
  display:block;
  line-height:0;
  font-size:0;
  text-align:center;
  background:#333;
  color:#fff;
}
#skip li a:focus {
  line-height:60px;
  font-size:20px;
}
#wrap {
  z-index:1;
  position:relative;
  width:100%;
  overflow:hidden;
}
